.DS_Store
.idea/

image_cn/
image_all/
image/color_blue
image/color_red

change_color.py
token_jinx_tri.py

json/全角色_冲突规则.json
json/冲突规则.json
json/冲突规则_github.json
json/全员失忆.json
json/全员失忆_水印.json
json/心理博弈.json
json/心理博弈_tf.json
json/心理博弈_tf_copy.json
json/横行霸道.json
json/横行霸道_tf.json

url/url_change_team.txt
url/url_get_ability.txt
url/url_jinx.txt