.DS_Store
.idea/

data/
image_cn/
image_all/
image/color_blue
image/color_red
image/origin/new
image_hr/origin/new
image/jinx
image/jinx_new
image/change_team_new
image/get_ability_new
image_watermark/jinx_new
image_watermark/change_team_new
image_watermark/get_ability_new

change_color.py
token_jinx_tri.py
animate.py
write_md.py
脚本执行顺序.md

json/全角色_hr_冲突规则.json
json/冲突规则.json
json/全员失忆.json
json/全员失忆_水印.json
json/山雨欲来.json
json/戏如人生*
json/逢场作戏*
json_script

url/url_change_team.txt
url/url_get_ability.txt
url/url_jinx.txt